<div class="content">
    <div class="home page">

        <div class="slider">
            <div id="hero">
                <div id="owl-main" class="owl-carousel1 owl-theme">
                    <app-dashboard></app-dashboard>
                </div>

            </div>

        </div>

        <!--<BookList title="New Books" description="Do eiusmod tempor incididunt ut labore et dolore magna aliqua" />-->

        <!-- featured authors -->
        <div class="featured-item-block">
            <app-hero-search></app-hero-search>
        </div>

    </div>
</div>
