<div class="container">
    <div class="wow fadeInUp">
        <div class="module block-new-books module-block">
            <div class="module-heading">
                <h2 class="module-title">New Books</h2>
                <p class="module-subtitle">Do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="module-body">
                <div class="books">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let book of books">
                            <app-book [book]="book" [width]="255" [height]="261"></app-book>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
