<div class="container">
    <div class="wow fadeInUp">
        <div class="module block-new-books module-block">
            <div class="module-heading">
                <h2 class="module-title">New Books</h2>
                <p class="module-subtitle">Do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="module-body">
                <div class="books">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let book of books">
                            <div class="book" style="text-align: center">
                                <div v-if="sale" class="sale-ribbon"><div class="sale-ribbon-content">sale off</div></div>
                                <div class="book-cover">
                                    <div class="book-inner">
                                        <img class="img-responsive" alt="" src={{book.imageUrl}} width="258" height="351">
                                        <div class="fade"></div>
                                    </div>
                                </div>
                                <div class="book-details">
                                    <h3 routerLink="/detail/{{book._doc}}">
                                        {{book.title}}
                                    </h3>
                                    <p class="book-author">{{book.authorTitle}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
