<!--<div class="wow fadeInUp">-->
    <!--<div class="module block-new-books module-block">-->
        <!--<div class="module-heading">-->
            <!--<h2 class="module-title">New Books</h2>-->
            <!--<div class="customNavigation">-->
            <!--</div>-->
            <!--<p class="module-subtitle">Do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>-->
        <!--</div>-->

        <!--<div class="module-body">-->
            <!--<div class="books">-->
                <!--&lt;!&ndash;<div id="new-carousel" class="owl-carousel home-owl-carousel">&ndash;&gt;-->
                <!--<div class="item item-carousel" *ngFor="let book of books">-->
                    <!--<div>-->
                        <!--<div class="books">-->
                            <!--<div class="book">-->
                                <!--<div class="book-cover">-->
                                    <!--<div class="book-inner">-->
                                        <!--<p class="book-author">{{book.authorTitle}}</p>-->
                                        <!--<img class="img-responsive" alt="" src={{book.imageUrl}} width="258" height="351">-->
                                        <!--&lt;!&ndash;<a v-bind:href="bookLink">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<img v-bind:src="book.imageUrl" v-bind:alt="book.title">&ndash;&gt;-->
                                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                        <!--<div class="fade"></div>-->
                                        <!--<div class="book-price">-->
                                            <!--{{book}}-->
                                            <!--<span class="price">-->
                            <!--$ {{book.price}}-->
                        <!--</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="book-details">-->
                                    <!--&lt;!&ndash;<h3 class="book-title"><a v-bind:href="bookLink">{{book.title}}</a></h3>&ndash;&gt;-->
                                    <!--<p class="book-author">{{book.authorTitle}}</p>-->
                                    <!--<div class="star-rating">-->
                                        <!--&lt;!&ndash; <i class="fa fa-star {{#lte 1 book.rating}}color{{/lte}}"></i>-->
                                        <!--<i class="fa fa-star {{#lte 2 book.rating}}color{{/lte}}"></i>-->
                                        <!--<i class="fa fa-star {{#lte 3 book.rating}}color{{/lte}}"></i>-->
                                        <!--<i class="fa fa-star {{#lte 4 book.rating}}color{{/lte}}"></i>-->
                                        <!--<i class="fa fa-star {{#lte 5 book.rating}}color{{/lte}}"></i> &ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="container">
    <div class="wow fadeInUp">
        <div class="module block-new-books module-block">
            <div class="module-heading">
                <h2 class="module-title">New Books</h2>
                <p class="module-subtitle">Do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="module-body">
                <div class="books">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let book of books">
                            <div class="book" style="text-align: center">
                                <div v-if="sale" class="sale-ribbon"><div class="sale-ribbon-content">sale off</div></div>
                                <div class="book-cover">
                                    <div class="book-inner">
                                        <!--<a v-bind:href="bookLink">-->
                                        <img class="img-responsive" alt="" src={{book.imageUrl}} width="258" height="351">
                                        <!--</a>-->
                                        <div class="fade"></div>
                                    </div>
                                </div>
                                <div class="book-details">
                                    <a routerLink="{{book.title}}">
                                        {{book.title}}
                                    </a>
                                    <!--<router-link tag="h3" class="book-title" v-bind:to="bookLink"><a>{{book.title}}</a></router-link>-->
                                    <p class="book-author">{{book.authorTitle}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
