<div class="wow fadeInUp">
    <div class="module block-new-books module-block">
        <div class="module-heading">
            <h2 class="module-title">New Books</h2>
            <div class="customNavigation">
            </div>
            <p class="module-subtitle">Do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="module-body">
            <div class="books">
                <!--<div id="new-carousel" class="owl-carousel home-owl-carousel">-->
                <div class="item item-carousel" *ngFor="let book of books">
                    <div>
                        {{book._doc}}
                    <a routerLink="/book/{{book._doc}}">
                        {{book.name}}
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
